<div class="navbar-default sidebar" role="navigation">
	<div class="sidebar-nav">
		<ul class="nav" id="nice-menu">
			<li class="sidebar-brand">
				<div class="ttdiv">
					<span class="ttspan-fill">Menu</span>
					<span class="ttspan-right">
						<i class="fa fa-align-justify"></i>
					</span>
				</div>
			</li>
		</ul>
		<ul class="nav" id="side-menu">
			<li class="sidebar-search">
				<div class="input-group custom-search-form">
					<input type="text" class="form-control ttspan-fill" placeholder="Search...">
					<span class="input-group-btn ttspan-fill">
						<button class="btn btn-default" type="button">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
				<!-- /input-group -->
			</li>

			<li>
				<a href="#">
					<i class="fa fa-bar-chart-o fa-fw"></i>
					<span class="ttspan-fill">General</span>
					<span class="fa arrow ttspan-fill"></span>
				</a>
				<ul class="nav nav-second-level">

					<li dragula="PAGE_DESIGNER">
						<a href="#" style="cursor:move" type="HEADING" heading="Heading" bodyText="Lorem-ipsum Lorem-ipsum Lorem-ipsum Lorem-ipsum Lorem-ipsum Lorem-ipsum">Headings</a>
					</li>
				</ul>
				<!-- /.nav-second-level -->
			</li>

			<li>
				<a href="#">
					<i class="fa fa-sitemap fa-fw"></i>
					<span class="ttspan-fill"> Widgets</span>
					<span class="fa arrow ttspan-fill"></span>
				</a>
				<ul class="nav nav-second-level">


					<li>

						<ul class="nav nav-third-level">
							<li dragula="PAGE_DESIGNER">
								<a href="#" style="cursor:move" type="TEXTBOX" heading="textbox" bodyText="">Text Box</a>
							</li>
							<li dragula="PAGE_DESIGNER">
								<a href=" # " style="cursor:move" type="TEXTAREA" heading="textarea">Text Area</a>
							</li>
						</ul>
						<!-- /.nav-third-level -->
					</li>
				</ul>
				<!-- /.nav-second-level -->
			</li>
		</ul>
	</div>
</div>